<div class="mb-3">
  <label class="form-label">
    {{label}}{{#if required}} <span class="text-danger">*</span>{{/if}}
  </label>
  <input class="form-control" type="datetime-local" name="{{name}}" {{#if required}}required{{/if}}>
  {{#if placeholder}}<small class="text-muted">{{placeholder}}</small>{{/if}}
</div>

