<label class="form-label">
    {{label}}{{#if required}} <span class="text-danger">*</span>{{/if}}
</label>
<input class="form-control flatpickr-date" type="text" name="{{name}}" placeholder="{{placeholder}}" {{#if
    required}}required{{/if}}>