<label class="form-label">
  {{label}}{{#if required}} <span class="text-danger">*</span>{{/if}}
</label>
<div class="position-relative">
  <select class="select2 form-select" name="{{name}}" {{#if required}}required{{/if}} data-allow-clear="true">
    {{#each options}}<option value="{{this}}">{{this}}</option>{{/each}}
  </select>
</div>